a {
  font-family:Impact;
  color:white;
  margin-left:15px;
  text-decoration:none;
}
li {
  
  padding-bottom:5px;
  display:inline;
  position:relative;
  margin-top:45px;
  color:purple;
  -padding-left:25px;
  
  
}
a:hover ~ ul {
  display:inline;
  
}
ul {
  display:none;
  
  font-family:Impact;
  background:grey;
  position:left;
  -margin-top:245px;
  padding:5px;
  border:1px solid;
  -width:900px;
}
-ul {
  padding-left:5px;
  font-family:Impact;
  background:grey;
  position:absolute;
  padding-top:5px;
  border:1px solid;
  -width:900px;
}
.second-line {
  margin-left:-175px;
  width:900px;
  color:#b7cbee;
}
.menu {
  width:900px;
  height:50px;
  background-color:#1aa4ff;
  padding-left:50px;
  padding-top:20px;
  text-align:center;
}
-.travels {
  color:grey;
  background-color:#eeeeee;
  padding:5px;
  text-decoration:underline;
}
.float {
  margin-left:150px;
  font-family:Impact;
  color:white;
  possition:absolute;
}