li {
  vertical-aligin:middle;
  color:#888c94;
  display:block;
  height:50px;
  width:250px;
  margin-left:-15px;
  margin-right:45px;
  font-family:Impact;
  background:#edf5fd;
}
li:nth-child(2) {
  background:#f5f5f6;
}
li:nth-child(6) {
  background:#f5f5f6;
}

.bullet {
  float:left;
  margin-right:20px;
}
img {
  margin-left:30px;
}
p {
  text-align:center;
  color:#35495a;
  font-size:20px;
  font-family:impact;
}
p:nth-child(2) {
  color:#35495a;
}
h1 {
  text-align:center;
  margin-top:0;
  line-height:250%;
  color:white;
  background:#ee8129;
}
[type="submit"] {
  color:white;
  font-family:impact;
  font-size:25px;
  position:relative;
  height:50px;
  background:#ee8129;
  margin-left:20px;
  margin-top:10px;
  margin-bottom:20px;
  margin-bottom:50px;
  width:250px;
  border-top:none;
  box-shadow:0 3px 5px grey;
  
}
.price {
  border:5px solid #ee8129;
  border-radius:15px;
  width:300px;
  background:white;
  box-shadow:0 0 10px grey;  
}